
<div class="container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = false">Quick Printer</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
      [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/']" (click)="navbarCollapsed = true">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/users']" (click)="navbarCollapsed = true">Users</a>
          </li>
      </ul>
      <a class="nav-link" *ngIf="!auth.loggedIn()" [routerLink]="['login']" (click)="navbarCollapsed = true">Log In</a>
      <a class="nav-link" *ngIf="!auth.loggedIn()" [routerLink]="['reg']" (click)="navbarCollapsed = true">Registration</a>
      <a class="nav-link" style="cursor:pointer"  (click)="auth.loggedOut()"  *ngIf="auth.loggedIn()" [routerLink]="['reg']" (click)="navbarCollapsed = true">Log Out</a>

      
    </div>
  </header>
</div>